version: '3.8'
services:
  db:
    image: postgres:15
    container_name: kz_magazine_db
    environment:
      - POSTGRES_DB=kz_magazine
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
