spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/kz_magazine
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true
    baseline-on-migrate: true
    validate-on-migrate: false

logging:
  level:
    org.hibernate.SQL: debug
